[Desktop Entry]
Version=1.0
Type=Application
Name=Code::Blocks IDE
GenericName=Integrated development environment
Comment=Configurable and extensible IDE
Exec=codeblocks %F
Icon=com.CodeBlocks.App.png
Terminal=false
Categories=Development;IDE;GTK;
